#visualize-map{
  margin: 0 auto;
}

path:hover{
  fill:#C5EFF7;
}

div.tooltip_bro {
  position: absolute;
  text-align: center;
  min-width: 60px;
  padding: 8px;
  font: 10px sans-serif;
  background: #e9e9e9;
  border: solid 1px #bababa;
  border-radius: 4px;
  pointer-events: none;

  span{
    vertical-align: middle;
  }
}

#play-slide {
  font-size:30px;
  margin-top: 8px;
  margin-right: 10px;
}

#slider-container {
  float:right;
  width: -moz-calc(100% - 71px);
  width: -webkit-calc(100% - 71px);
  width: calc(100% - 71px);
}
